@model QuickKartDataAccessLayer.Models.Categories

@{
    ViewData["Title"] = "CreateCategory";
}

<form method="post">
    <div class="border p-3 mt-4" style="background:white">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <div class="mb-2">
            <label asp-for="CategoryName"></label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Category" asp-action="ViewCategory" class="btn btn-secondary" style="width:150px">Back</a>
    </div>
</form>

